/* Root layout */
.search-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Left side: fields */
.search-panel-fields {
  flex: 3.5;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Right side: options */
.search-panel-options {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Container for an input field. Holds both the title and the input */
.search-panel-field-container {
  flex: 1;

  display: flex;
  align-items: center;

  margin-top: 15px;
  margin-bottom: 0px;
}

/* Title for a specific field */
.search-panel-field-title {
  margin: 0px 15px;

  font-size: 2rem;
}

/* Searchbar container */
.search-panel-searchbar-container {
  margin: 6px;

  display: flex;
  align-self: flex-start;
}

/* Base searchbar styles */
.search-panel-searchbar {
  padding: 10px 8px;

  border: 1px solid black;
  border-radius: 6px;

  font-size: 1.35rem;
  color: black;
}

/* Size modifiers */
.search-panel-searchbar-flex {
  flex: 1;

  max-width: 600px;
}

.search-panel-searchbar-short {
  max-width: 100px;
}

.search-panel-search-button {
  margin: 7px;

  font-size: 2.4rem;

  align-self: center;
}

.search-panel-tip-text {
  margin-left: 11px;

  font-size: 1.65rem;
}