.custom-select,
.custom-select-no-arrows {
  min-width: 65px;

  position: relative;
}

.custom-select-wide-padding select {
  padding: 0.125em 2.75em 0.125em 0.5em;
}

.custom-select-thin-padding select {
  padding: 0.125em 0.5em 0.125em 0.5em;
}

.custom-select select,
.custom-select-no-arrows select {
  appearance: none;

  width: 100%;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;

  background-color: white;

  font-size: 1.5rem;
  color: black;

  cursor: pointer;
}

.custom-select option,
.custom-select-no-arrows option {
  background-color: white;

  /* Changing font does not work for custom fonts (Verdana, Arial, Times New Roman, etc. all work but 'Jersey 15' doesn't) */
  font-family: Verdana;
  font-size: 1.15rem;
  color: black;
}

/* For creating the double-arrow in the dropdown */
.custom-select::before,
.custom-select::after {
  --size: 0.3rem;

  position: absolute;
  right: 0.75rem;

  content: "";

  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;

  top: 35%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;

  top: 50%;
}