/*
  PANEL ROOTS
*/
.panel {
  display: flex;

  margin: 15px;

  min-height: 25px; /* Mainly here for debug when creating a new panel to see it's being generated */
}

/* Background container for all panels */
.panel-background {
  flex: 1;

  border: 3px solid black;
  background-color: rgb(182, 161, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/*
  FLEX HELPERS
*/
.panel-flex-row,
.panel-flex-col {
  flex: 1;

  display: flex;
}

.panel-flex-row {
  flex-direction: row;
}

.panel-flex-col {
  flex-direction: column;
}

.panel-center-items {
  justify-content: center;
  align-items: center;
}

/*
  SCROLLING
*/
/* overflow-x is hidden to prevent horizontal scrolling */
.panel-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}
