button {
  font-family: "Jersey 15";

  cursor: pointer;

  border-style: solid;
  border-color: black;
  border-radius: 5px;

  background-color: white;

  padding: 5px 17px;

  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(211, 211, 211);
}

button:active {
  background-color: rgb(185, 185, 185);
}

.main-button {
  font-size: clamp(1.5rem, 4.75vw, 3rem);
}

.option-button {
  font-size: clamp(1.2rem, 3.6vw, 2.5rem);

  margin: 15px;
}