button {
  font-family: "Jersey 15";
  cursor: pointer;
}

.main-button {
  font-size: clamp(1.5rem, 4.75vw, 3rem);

  border-style: solid;
  border-color: black;
  border-radius: 5px;

  padding: 5px 17px;
}