.add-form-container {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin: 12px 60px 12px 60px;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background-color: rgb(155, 172, 230);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.add-form-title {
  font-size: 2.25rem;
  font-weight: bold;

  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: black;

  background-color: rgb(124, 139, 194);

  text-align: center;
}

.add-form-input-container {
  display: flex;

  margin-top: 6px;
  margin-bottom: 6px;
}

/* The name/title of the input (e.g. for potion: Name, Type, Price, etc.) */
.add-form-input-title {
  margin-left: 14px;
  margin-right: 20px;

  font-size: 2rem;
}

.add-form-input-string,
.add-form-input-int {
  margin: 0px 20px 0px 0px;
  padding: 0px 8px 0px 8px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;

  font-size: 1.35rem;
  color: black;
}

/* Longform input (e.g. for potion: Name, Effect) */
.add-form-input-string {
  flex: 1;
}

/* Shorter input bar (e.g. for potion: Price) */
.add-form-input-int {
  max-width: 100px;
}

.add-form-input-dropdown-select {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;

  font-size: 1.35rem;
  color: black;

  cursor: pointer;
}