body {
  background-color: rgb(178, 120, 255);

  /* Makes sure items can be aligned vertically on an empty page since the height on an empty page is 0 and not the page itself */
  min-height: 95vh;
}

h1, h2, h3, h4, h5, h6,
p,
div {
  margin: 0px;
}

.line-vertical-full,
.line-vertical-floating {
  border: 2px solid black;
}

.line-vertical-full {
  height: 99.5%;
}

.line-vertical-floating {
  height: 70%;
}
