/* Container for items like potions and ingredients */
.item {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin-bottom: 5px;
}

/* Container for the display area within each item (for the image and info) */
.item-display {
  flex: 1;

  min-height: 150px;

  background-color: rgb(139, 148, 231);;

  display: flex;
}

.item-image {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  height: 150px;
  width: 150px;
}

.item-info {
  /* Flex is shared with .item-image */
  flex: 7;

  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;
}

/* Header can contain additional information (for potions, it's name and type) */
.item-info-header {
  flex: 1;

  display: flex;
  align-items: start;

  margin-top: 0px;
}

.item-info-body {
  flex: 1;
}

/* Can be used for additional item content (like the ingredient list under each potion) */
.item-extra {
  height: 50px;
  background-color: green;
}

.potion-name {
  margin-top: 0px;
  margin-right: 30px;

  font-weight: bold;
  font-size: 3rem;
}

.potion-type {
  margin-top: 0px;

  font-style: italic;
  font-size: 3rem;
}