/* Container for items like potions and ingredients */
.item {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin-bottom: 5px;
}

/* Container for the display area within each item (for the image and info) */
.item-display {
  flex: 1;

  min-height: 150px;

  display: flex;
}

.item-image {
  /* Flex is shared with .item-info */
  flex: 1;

  background-color: red;
  min-width: 50px;
}

.item-info {
  /* Flex is shared with .item-image */
  flex: 7;

  display: flex;

  background-color: black;
  color: white;
}

/* Can be used for additional item content (like the ingredient list under each potion) */
.item-extra {
  height: 50px;
  background-color: green;
}