.panel {
  display: flex;

  margin: 15px;
}

.panel-background-flex-row,
.panel-background-flex-col {
  flex: 1;

  display: flex;
  justify-content: center;

  border: 3px solid black;
  background-color: rgb(182, 161, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.panel-background-flex-row {
  flex-direction: row;
}

.panel-background-flex-col {
  flex-direction: column;
}