.panel {
  display: flex;

  margin: 25px 35px 40px 35px;

  height: 70vh; /* Subtracting 360px accounts for title and margins */
}

.panel-background {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 3px solid black;
  background-color: rgb(182, 161, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

  min-height: 550px;
}

/* panel-header share panel portion with panel-content. panel-header is on top, panel-content below which contains options/results */
.panel-header {
  display: flex;

  height: 50px;


  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: black;
  background-color: rgb(136, 118, 202);
}

.panel-header-title {
  font-size: 2.4rem;
}

.panel-header-options {
  flex: 1; /* Should be same as .panel-content-options flex */
}

.panel-header-results {
  flex: 3.5; /* Should be same as .panel-content-results flex */
}

/* For the options section and results section. Flex is shared with panel-header */
.panel-content {
  flex: 1;

  min-height: 0;

  display: flex;
  justify-content: center;
}

.panel-content-options {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-content-results {
  flex: 3.5;

  display: flex;
  flex-direction: column;

  min-height: 0;

  padding-top: 2px;
} 

.panel-line {
  border: 2px solid black;
  
  height: 99.5%;
}

.panel-scrollable {
  min-height: 0;
  
  overflow-y: auto;
  overflow-x: hidden;
}