.panel {
  display: flex;

  margin: 25px 50px 50px 50px;

  min-height: 60vh;
}

.panel-background {
  /* For the options section and results section */
  display: flex;
  justify-content: center;

  flex: 1;

  border-style: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 2px;

  background-color: rgb(182, 161, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.panel-options {
  flex: 1;

}

.panel-results {
  flex: 2.25;

}

.panel-line {
  border: 1px solid black;
  height: 100%;
}