.popup-container {
  position: fixed;
  z-index: 9999; /* Make sure this appears above everything else */

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(65, 187, 118, 0.685);
}

.popup-container .popup-box {
  width: 600px;

  background-color: beige;
}