/* Overall container that acts as the outer card */
.potion-item {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin: -2px -1px 5px -1px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/* Container for the display area within each potion (for the image and info) */
.potion-display {
  flex: 1;

  display: flex;

  min-height: 150px;

  background-color: rgb(155, 172, 230);
}

.potion-icon {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  height: 150px;
  width: 150px;

  margin-top: -1px;
  margin-left: -1px;

  border-style: solid;
  border-color: black;
  border-width: 2px 2px 3px 0px;
}

.potion-info {
  /* Flex is shared with .potion-icon */
  flex: 1;

  display: flex;
  flex-direction: column;
}

/* Header can contain additional information (for potions, it's name and type) */
.potion-info-header {
  flex: 1;

  display: flex;
  align-items: start;

  margin-top: 0px;

  border-style: solid;
  border-color: black;
  border-width: 1px 0px 2px 1px;
}

.potion-info-body {
  flex: 1;

  border-style: solid;
  border-color: black;
  border-width: 1px 0px 3px 1px;
}

.potion-ingredients-container {
  background-color: rgb(119, 134, 182);
}

.potion-name {
  margin-top: 0px;
  margin-right: 30px;

  padding-left: 8px;

  font-weight: bold;
  font-size: 3rem;
}

.potion-type {
  margin-top: 0px;
  margin-right: 30px;

  font-style: italic;
  font-size: 3rem;
}

/* Container for the price icon and price value */
.potion-price-container {
  display: flex;

  align-items: center;
}

.potion-price-icon {
  margin: 0px;
  
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  /* NOTE: I couldn't figure out a way to scale this with the parent containers so for now I'm setting fixed dimensions */
  height: 55px;
  width: 55px;
}

.potion-price {
  font-size: 2rem;
}

.potion-effect {
  font-size: 2rem;

  padding-left: 8px;
}

.potion-ingredients-button-container {
  display: flex;
}

.potion-ingredients-button {
  margin: -3px 0px 0px 10px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0);

  border-style: none;

  font-size: 1.25rem;
}