/* Overall container that acts as the outer card */
.potion-item {
  flex: 1;

  display: flex;
  flex-direction: column;

  margin: -5px 0px 8px 0px;

  border-style: solid;
  border-width: 3px 0px 3px 0px;
}

/* Container for the display area within each potion (for the image and info) */
 .potion-item .potion-display {
  flex: 1;

  display: flex;

  min-height: 150px;

  background-color: rgb(155, 172, 230);
}

.potion-display .potion-icon {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  height: 150px;
  width: 150px;

  border-style: solid;
  border-width: 0px 3px 3px 0px;
}

.potion-display .potion-info {
  /* Flex is shared with .potion-icon */
  flex: 1;

  display: flex;
  flex-direction: column;

  border-style: solid;
  border-width: 0px 0px 3px 0px;
}

/* Header can contain additional information (for potions, it's name and type) */
.potion-info .potion-info-header {
  flex: 1;

  display: flex;
  align-items: start;

  margin-top: 0px;

  border-style: solid;
  border-color: black;
  border-width: 0px 0px 3px 0px;
}

.potion-info .potion-info-body {
  flex: 1;

  display: flex;
}

.potion-item .potion-ingredients-container {
  background-color: rgb(119, 134, 182);
}

.potion-info-header .potion-name {
  margin-top: 0px;
  margin-right: 30px;

  padding-left: 8px;

  font-weight: bold;
  font-size: 3rem;
}

.potion-info-header .potion-type {
  margin-top: 0px;
  margin-right: 30px;

  font-style: italic;
  font-size: 3rem;
}

/* Container for the price icon and price value */
.potion-info-header .potion-price-container {
  display: flex;

  align-items: center;
}

.potion-price-container .potion-price-icon {
  margin: 0px;
  
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  /* NOTE: I couldn't figure out a way to scale this with the parent containers so for now I'm setting fixed dimensions */
  height: 55px;
  width: 55px;
}

.potion-price-container .potion-price {
  font-size: 2rem;
}

.potion-info-header .potion-edit-button {
  margin-left: auto; /* Pushes all the way to the right */
  margin-right: 10px;

  align-self: center;

  font-size: 1.65rem;
}

.potion-info-body .potion-effect {
  font-size: 2rem;

  padding-left: 8px;
}

.potion-info-body .potion-remove-button {
  margin-left: auto;
  margin-right: 10px;

  align-self: center;

  font-size: 1.65rem;
}

.potion-item .potion-ingredients-button-container {
  display: flex;
}

.potion-ingredients-button-container .potion-ingredients-button {
  margin: -2px 0px 2px 10px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0);
  border-style: none;

  font-size: 1.25rem;
}

.potion-ingredients-button:hover {
  background-color: rgba(0, 0, 0, 0);
}

.potion-ingredients-button:active {
  background-color: rgba(0, 0, 0, 0);
}