.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -2px;
  padding: 7px 30px 17px 30px;

  background-color: rgb(136, 118, 202);
}

.search-bar-container .search-bar {
  flex: 1;

  margin-right: 10px;
  padding: 9px 8px 9px 8px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;

  font-size: 2rem;
  color: black;
}

.search-bar-container .search-dropdown {
  margin-right: 10px;

  height: 100%;
}

.search-bar-container .search-button {
  font-size: 2rem;

  height: 100%;
}