.font-jersey {
  font-family: "Jersey 15", Arial;
}

.text-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-centered-flex-1 {
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-big-static {
  font-size: 3.5rem;
}

.text-big-dynamic {
  font-size: clamp(1.2rem, 3.6vw, 2.5rem);
}