.title {
  /* Imported via google fonts */
  font-family: "Jersey 15", Arial;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-header {
  /* 
    rem = rootem, where 1rem typically equals 16px.
    vw = viewport width, with vw representing 1% of the viewport's total width and 9vw as 9%.
    clamp() = (minimum, preferred, maximum).
  */
  font-size: clamp(4rem, 9vw, 8rem);

  margin-top: -30px;
  margin-bottom: 8px;
}

.title-sub-header {
  font-size: clamp(2rem, 5vw, 4rem);
}